@font-face {
    font-family: 'proximanova';
    src: url('Fonts/proximanova_regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'proximanova';
    background-color: #fdfeff;
    overflow-x: hidden;
    position: relative;
}

@media only screen and (max-width: 599px) {
    html {
        min-height: 100vh;
    }
    body {
        max-width: 598px;
        min-height: 100vh;
    }
}

/* Header Style */
.main-header{
    max-height: 80px;
    background-color: #ffffff;
    border-bottom: 1px solid #b9b9c1;
}

.header-container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center;
}

/* Page-wrap Style */

.page-wrap {
    min-height: 100%;
    margin-bottom: 150px;
}

@media only screen and (max-width: 599px) {
    .page-wrap {
        min-height: 100%;
        margin-bottom: 0px;
    }
}

/* Nav Style */

.main-nav {
    display: flex;
    text-align: left;
    padding: 0;
    background-color: #ffffff;
    color: #283B10;
    font-weight: bold;
    height: 80px;
    width: 750px;
    align-items: center;
}

.main-nav-list {
    min-width: 80%;
}

.main-nav-list a {
    padding: 2.3%;
}


.nav a {
    color: #283B10;
    text-decoration: none;
}

.nav a:hover {
    color: #577d30;
}

.nav a:visited {
    color: #283B10;
}

.nav a:visited:hover {
    color: #577d30;
}


.nav ul {
    padding-left: 0;
    
}

.nav li {
    display: inline;
}

.mobile-nav-icon {
    display: none;
}

.logo-container {
    background-color: #ffffff;
    width: 250px;
    max-height: 80px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: right;
}

.church-logo {
    object-fit: contain;
    max-height: 80px;
    text-align: center;
    padding-right: 10px;
}

/* Styling for navbar on mobile devices */
@media only screen and (max-width: 599px) {
    .main-nav-list {
        height: 100%;
        width: 100%;
    }

    .mobile-nav-icon{
        float: right;
        display: block;
        margin-top: 20px;
        margin-right: 12px;
        
    }

    .nav-list-links {
        display: none;
    }
}

/* "responsive" is added with JavaScript when user clicks on the icon. Displays links vertically */
@media only screen and (max-width: 599px) {
    .main-nav-list.responsive {position: relative;}
    .main-nav-list.responsive a.mobile-nav-icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .main-nav-list.responsive a.nav-list-links {
        display: block;
        text-align: right;
        font-size: 95%;
    }
    
    .main-nav-list.responsive div.nav-links-block {
        padding-top: 60px;
        float: right;
    }

}

/* Styling for footer */
.main-footer {
    bottom: 0px;
    height: 150px;
    width: 100%;
    max-height: 150px;
    border-top: 1px solid #b9b9c1;
}

.main-footer h3 {
    font-size: 98%;
}

.footer-container {
    display: flex;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    max-width: 1000px;
    margin: auto;
}

.church-info-text {
    margin: 5px;
}

.social-media-container {
    margin-left: auto;
}

@media only screen and (max-width: 599px) {
    .main-footer {
        height: 120px;
        max-height: 120px;
        font-size: 85%;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 98%;
        overflow-y: hidden;

    }
    .main-footer h3 {
        font-size: 98%;
    }
}

/* Slideshow Style */

.home-slideshow-container {
    box-sizing: border-box;
    max-width: 1000px;
    position: relative;
    margin: auto;
    max-height: 500px;
    margin-top: 100px;
}

.mySlides {
    display: none;
}


.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: #bbb;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

.slideshow-caption {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.number-text {
    color:#f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* Style for Pastor About page */ 

.pastor-about-container {
    height: 600px;
    width: 1000px;
    margin: auto;
    display: flex;
    margin-top: 100px;
    min-width: 0;
    overflow: hidden;
    max-height: fit-content;

}

.pastor-about-image-container {
    height: 500px;
    width: 500px;
}

.pastor-about-image {
    max-height: 500px;
    margin: auto;
    padding-left: 60px;
}

.pastor-about-text {
    width: 450px;
    padding-right: 40px;
}

/* Style for Ministerio de Alabanzas page */

.alabanzaYoutubeContainer {
    display: flex;
    height: 650px;
    align-items: center;
    justify-content: center ;
}

.alabanzaDescriptionContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.alabanzaDescImage {
    size: 80%;
}

.alabanzaDescText{
    width: 460px;
    margin-right: 10px;
}

/* Media query to override for mobile devices */

@media only screen and (max-width: 599px) {

    .pastor-about-container {
        max-width: 580px;
        margin-top: 28px;
        margin-right: 0px;
        flex-direction: column;
        align-items: center;
    }

    .pastor-about-image-container {
        margin-bottom: 20px;
        display: flex;
    }

    .pastor-about-image {
        padding-left: 0;
        margin: auto;
    }

    .pastor-about-text {
        padding-bottom: 30px;
    }

    .alabanzaYoutubeVideo {
        height: 400px;
        width: 400px;
    }
    .alabanzaYoutubeContainer {
        display: flex;
        height: 400px;
        width:400px;
        align-items: center;
        justify-content: center ;
        margin-top: 20px;
    }
    
    .alabanzaDescriptionContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 400px;
        width: 400px;
        
    }
    
    .alabanzaDescImage {
        size: 10%;
    }
    
    .alabanzaDescText{
        width: 260px;
        margin-right: 10px;
    }

}